# Môi trường ảo và cấu hình cục bộ
.env
env/
venv/

# Cache của Python & Testing
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Cấu hình hệ điều hành
.DS_Store
Thumbs.db

# Dữ liệu LLM Model
cloud-models/
edge-models/

# Log
*.log

# Dữ liệu rác của Docker (Mount volumes)
prometheus-data/
grafana-data/

# NGOẠI LỆ: Giữ lại minh chứng biểu đồ và kết quả chạy
!analysis/plots/
!benchmark/results/
